{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Login</h1>
    {% if messages %}
    <div class="alert">
        <ul style="margin:0; padding-left:18px;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Email</label>
        <input type="text" name="email" placeholder="Email" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <div class="form-actions">
            <button type="submit" class="btn w-100">Login</button>
        </div>
    </form>
    <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}